<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zomato - Restaurent</title>
      <style>
        body {
          font-family: Tahoma, sans-serif;
          background-image: url('boat.jpg.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          margin: 0;
          padding: 0;
        }
        h1 {
          color: #007BFF;
          text-align: center;
          padding-top: 20px;
        }
        .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.9);
          border: 1px solid #ccc;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .restaurent-card {
          display: flex;
          margin-bottom: 20px;
        }
        .restaurent-details {
          flex: 1;
          padding: 20px;
        }
        .restaurent-name {
          font-size: 24px;
          color: #333;
          margin-bottom: 10px;
        }
        .release-date {
          color: #777;
        }
        .image {
          width: 200px;
          height: 300px;
          margin-right: 20px;
          border: 1px solid #ddd;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
        .actions {
          margin-top: 10px;
        }
        .actions a {
          text-decoration: none;
          color: #007BFF;
          margin-right: 10px;
        }
      </style>
  </head>

  <body>
    <h1>All Restaurent</h1>
    <div class="container">
      <% @restaurents.each do |restaurent| %>
        <div class="restaurent-card">
          <div class="restaurent-details">
            <div class="restaurent-name"><%= restaurent.name %></div>
            <div class="restaurent-place"><%= restaurent.place %></div>
            <div class="restaurent-status"><%= restaurent.status %></div>
            <div class="actions">
              <%= link_to 'Show', restaurent %> 
            </div>
          </div>
        </div>
      <%end%>
    </div>

    <center>
      <%= will_paginate @restaurents,:container => false%></br></br>
    </center> 

    <div>
      <%if current_user.type == 'Owner'%>
        <%= link_to "New restaurent", new_restaurent_path %>
      <%else%>
        <%= link_to "Show Cart", carts_path %>&nbsp&nbsp&nbsp
        <%= link_to "Order History", orders_path %>
      <% end%>
    </div>

  </body>
</html>









