<body>
	<div class="container">
		<h1>Dishes</h1>
		<%= form_with model: @dish, method: :post do |form| %>
				<label for="name">Name</label>
				<%= form.text_field :name ,id: "name"%><br><br>

				<label for="price">Price</label>
				<%= form.text_field :price, id: "price" %><br><br>

				<label for="dish_type">Dish_type</label>
				<%= form.text_field :dish_type, id: "dish_type" %><br><br>

				<label for="image">Image</label>
				<%= form.file_field :image, id: "image" %><br><br>
				<%= form.submit "edit dish" %><br>
		<% end %>
	</div>
</body>

